* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #2A3D4B;
    height: 30px;
    padding: 0 2vw;
}

.content-top .info_user {
    display: flex;
    width: 68vw;
    color: #FFF;
    justify-content: space-between;
}

.content-top .social {
    display: flex;
    width: 20vw;
    justify-content: flex-end;
}

.content-top .social > a {
    margin: 0 8px;
    color: #fff;
}

.navbar {
    display: grid;
    height: 10vh;
    grid-template-columns: 20vw 1fr;
    grid-template-areas: "brand menu";
}

.navbar .brand {
    grid-area: brand;
    justify-self: center;
    align-self: center;
}

.navbar .navbar-menu {
    grid-area: menu;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 45px;
}

.navbar .navbar-menu .search a{
    color: #000;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 50%;
}

.navbar-menu ul{
    text-decoration: none;
    display: flex;
    list-style: none;
}

.navbar-menu ul li {
    margin: 0 10px;
}

.carousel {
    width: 100vw;
}

.carousel .item img{
    width: 100vw;
    max-height: 580px;
}

.item {
    width: 100%;
    height: 100%;
    background: #000;
}

.container {
    display: flex;
    color: #FFF;
    justify-content: center;
    align-content: center;
}

.search-content {
    background: #2D3E4E;
    height: 90px;
 }

.form-search {
    width: 100%;
    max-width: 890px;
    display: grid;
    grid-template-columns: 10vw 1fr;
}

span {
    color: #AAA;
}

strong {
    color: #FFF;
}

.brand-form {
    justify-self: center;
    align-self: center;
}

.form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background: #2AF4DC;
    color: #FFF;
    padding: 8px 15px;
    border: none;
}

input {
    padding: 8px 5px;
}

.input-group svg{
    position: relative;
    right: 35px;
    color: #AAA;
    z-index: 9999;
}

.input-group label {
    margin: 0 5px;
    color: #646464;
}

.offers-content {
    height: 380px;
    background: #DDD;
 }

 .offers-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
 }

 .offers-content .title {
     display: flex;
     color: #2A3D4B;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
 }

 .offers-content .title span {
    color: #2A3D4B;
 }

 .offers-content .card-image img {
     width: 250px;
 }

 .offers-content .menu-list {
     display: inline-flex;
     list-style: none;
 }

 .offers-content .menu-list li {
     margin: 0 10px;
 }

 .offers-content .card {
     display: flex;
     flex-direction: column;
 }

 .offers-content .card-footer {
     /* background: #2A3D4B; */
     background: #d6d6d6;
     position: relative;
     display: flex;
     top: -5px;
     height: 50px;
     justify-items: center;
     flex-direction: column;
     padding: 5px 20px;
 }

 .offers-content .card-footer .card-title{
    color: #2A3D4B;
    font-weight: 700;
 }

 .card-footer .card-subtitle {
     font-size: 13px;
     color: #000;
 }

 .card.active .card-footer {
    background: #2A3D4B;
 }

 .card.active .card-footer > span{
    color: #FFF;
 }

 .holidays-type {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-content: center;
     background-image: url('../images//bg_2.jpg');
     background-size: cover;
     height: 380px;
 }

 .holidays-type .holidays-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .holidays-type .holidays-list-types {
    display: inline-flex;
    justify-content: center;
    list-style: none;
 }

 .holidays-type .holidays-list-types li {
     display: flex;
     flex-direction: column;
     justify-items: center;
     align-items: center;
 }

 .holidays-type .holidays-list-types li svg {
     font-size: 65px;
 }